<div class="row g-0" *ngIf="proyectos">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-11"><h1>Proyectos</h1></div>
    <div class="col-lg-4 col-md-4 col-sm-11">
    <button
      type="button"
      class="btn btn-dark"
      routerLink="/nuevopro"
      *ngIf="isLogged">
      Agregar Proyecto
    </button>
  </div>
  <div class="col-sm-11 col-md-11 col-lg-11">
    <table class="table">
      <tbody>
        <tr *ngFor="let proyectos of proyectos">
          <td><h2>{{proyectos?.nombrePro}}</h2></td>
          <td>{{proyectos?.descripcionPro}}</td>
          <td><img src={{proyectos?.img}} class="img-fluid" id="fotoProyectos"></td>
          <td *ngIf="isLogged">
            <button
              class="btn btn-light"
              routerLink="/editarpro/{{proyectos?.id}}">
              <i class="bi bi-pencil-fill"></i>
            </button>
          </td>
          <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(proyectos.id)">
              <i class="bi bi-trash-fill"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
