<div class="row">
    <h1>Proyectos</h1>
    <div class="container">
        <div>
            <h2>Proyecto 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sunt, magnam officia fugit placeat pariatur adipisci
                architecto impedit earum sint nostrum quasi alias
                numquam labore optio amet quae nihil provident
                recusandae.</p>
        </div>
        <div>
            <h2>Proyecto 2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sunt, magnam officia fugit placeat pariatur adipisci
                architecto impedit earum sint nostrum quasi alias
                numquam labore optio amet quae nihil provident
                recusandae.</p>
        </div>
    </div>
</div>