<app-encabezado></app-encabezado>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<div class="container" *ngIf="aptitudes">
    <div class="row g-0">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre de la Skill</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="aptitudes.nombre" required>
                </div>
                <div class="form-group">
                    <label for="porcentaje">Ingrese el porcentaje</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="aptitudes.porcentaje" required>
                </div>
                <button class="btn btn-primary">
                    Actualizar
                </button>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>