<app-encabezado></app-encabezado>
<section>
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100 g-0">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="../../../assets/ARGProgramaLogo.png"
          class="img-fluid"
          alt="Logo">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

          <div class="form-outline mb-4">
            <input
              type="user"
              id="nombreUsuario"
              class="form-control form-control-lg"
              [(ngModel)]="nombreUsuario"
              name="nombreUsuario"
              required
              placeholder="Ingresa el usuario">
            <label class="form-label" for="nombreUsuario"></label>
          </div>

          <div class="form-outline mb-3">
            <input
              type="password"
              id="password"
              class="form-control form-control-lg"
              [(ngModel)]="password"
              name="password"
              required
              placeholder="Ingresa la Contraseña">
            <label class="form-label" for="password"></label>
          </div>
          <br>
          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="button"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
              type="submit">
              Ingresar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<br> <br>
<app-footer></app-footer>