<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1> - 
            <h3>Año</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Iusto culpa reiciendis 
                accusantium odio? Placeat a maxime eius?
                 Distinctio consectetur sunt accusamus 
                 laboriosam, odio doloremque magni nemo, 
                 deleniti suscipit animi autem!</p>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1> - 
            <h3>Año</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Iusto culpa reiciendis 
                accusantium odio? Placeat a maxime eius?
                 Distinctio consectetur sunt accusamus 
                 laboriosam, odio doloremque magni nemo, 
                 deleniti suscipit animi autem!</p>
        </ul>
    </div>
</div>

<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-11">
        <ul>
            <li><h1>Estudio 1</h1> - 
            <h3>Año</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Iusto culpa reiciendis 
                accusantium odio? Placeat a maxime eius?
                 Distinctio consectetur sunt accusamus 
                 laboriosam, odio doloremque magni nemo, 
                 deleniti suscipit animi autem!</p>
        </ul>
        <ul>
            <li><h1>Estudio 2</h1> - 
            <h3>Año</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Iusto culpa reiciendis 
                accusantium odio? Placeat a maxime eius?
                 Distinctio consectetur sunt accusamus 
                 laboriosam, odio doloremque magni nemo, 
                 deleniti suscipit animi autem!</p>
        </ul>
    </div>
</div>