#aRGProgramaLogo {
  width: 180px;
}

#social {
  float: right;
  margin-top: 20px;
  margin-right: 5px;
}

#social img {
  width: 50px;
  margin: 2px;
}

#banner img {
  width: 100%;
  display: flex;
  box-shadow:3px 3px 3px black;
}

.btn {
  border-width: medium;
}
