<div class="container-fluid">
    <img src="../../../assets/ARGProgramaLogo.png" id="aRGProgramaLogo">

    <div id="social">
        <a href="https://www.facebook.com/"> <img src="../../../assets/facebook.png" id="facebook"> </a>
        <a href="https://github.com/ManuMontes7"> <img src="../../../assets/github.png" id="github"> </a>
        <a href="https://www.instagram.com/"> <img src="../../../assets/instagram.png" id="instagram"> </a>
        <a href="https://ar.linkedin.com/"> <img src="../../../assets/linkedin.png" id="linkedin"> </a>
        <a href="https://twitter.com/home"> <img src="../../../assets/twitter.png" id="twitter"> </a>
        <a href="/login"><button type="button" class="btn btn-outline-light" *ngIf="!isLogged">Ingresar</button></a>
        <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesión</button>
    </div>

    <div id="banner">
        <img src="../../../assets/banner.jpg">
    </div>
</div> 