<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoPerfil.jpg" class="img-fluid" 
        id="fotoPerfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Manuel Antonio Montes</p>
        <p>Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adip
                isicing elit. Impedit perferendis quos et 
                corrupti voluptatem repudiandae. Pariatur
                 unde quam reprehenderit recusandae nesciunt 
                 perferendis omnis et sed, quis velit, 
                 eveniet, perspiciatis voluptate?</p>
        </span>
    </div>
</div>