.row{
    padding: 30px;
}

div{
    text-align: center;
}

#nombre{
    font-weight: bold;
    margin-top: 5%;
    margin-left: 10px;
}

@media(min-width:576px){
    #fotoPerfil{
       border-radius:30%;
       box-shadow:3px 3px 3px black;
    }

    .descripcion{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:575px){
    #fotoPerfil{
       width:33%;
       border-radius:10%;
       box-shadow:3px 3px 3px black;
       left: 33%;
       top: 633px;
    }
}

#banner img {
    width: 100%;
    display: flex;
    box-shadow:3px 3px 3px black;
  }